name: your_project_name

services:
  ctfd:
    # build: .
    image: ctfd/ctfd
    user: root
    restart: always
    # ports:
    #   - "8000:8000"
    environment:
      - UPLOAD_FOLDER=/var/uploads
      - DATABASE_URL=mysql+pymysql://ctfd:ctfd@db/ctfd
      - REDIS_URL=redis://cache:6379
      - WORKERS=1
      - LOG_FOLDER=/var/log/CTFd
      - ACCESS_LOG=-
      - ERROR_LOG=-
      - REVERSE_PROXY=true
    volumes:
      - .data/CTFd/logs:/var/log/CTFd
      - .data/CTFd/uploads:/var/uploads
      - .data/CTFd/plugins:/opt/CTFd/plugins
    depends_on:
      - db
    networks:
      tunnel:
      notify:
      internal:

  db:
    image: mariadb:10.11
    restart: always
    environment:
      - MARIADB_ROOT_PASSWORD=<db_root_password>
      - MARIADB_USER=<db_user>
      - MARIADB_PASSWORD=<db_user_password>
      - MARIADB_DATABASE=ctfd
      - MARIADB_AUTO_UPGRADE=1
    volumes:
      - .data/mysql:/var/lib/mysql
    networks:
      internal:
    # This command is required to set important mariadb defaults
    command:
      [
        mysqld,
        --character-set-server=utf8mb4,
        --collation-server=utf8mb4_unicode_ci,
        --wait_timeout=28800,
        --log-warnings=0,
      ]

  cache:
    image: redis:4
    restart: always
    volumes:
      - .data/redis:/data
    networks:
      internal:
  
  first_blood_notify:
    build: first_blood_notification
    restart: always
    volumes:
      - .data/CTFd/fb_notify/notify.db:/opt/notification/notify.db
    networks:
      notify:
    command: python notify.py

  tunnel:
    image: cloudflare/cloudflared
    restart: always
    environment:
      TUNNEL_TOKEN: <your-tunnel-token>
    command: tunnel --no-autoupdate run
    networks:
      tunnel:

networks:
  tunnel:
  notify:
  internal:
    internal: true
